<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel = 'stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
  </head>
  <body>
    <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
