    <div class= "entire-show-list">
    <div class="container-fluid">
        <div class="row nav-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h1 class= "nav-title">RateFlix</h1>
            </div> 
            <div class="col-sm-4">
                <ul class="links-in-nav">
                    <li><a id="first-link" href="/myprofile">Home</a></li>
                    <li><a href="/shows">TV Shows</a> </li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href= "/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    <div class="wrap">
        <div class="search">
            <form action="/movies/search" method= "get">
                <div class= "searchbar"> 
                    <input type="text" name= "searchInput" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
            </form>
                    <i class="fa fa-search"></i>
            </div>
                    </button>

        </div>
    </div>
<div class= "showList">
    {{#each listOfMovies}}
        <div class= "show-info">
            <div class= "show-cover">
                <a href= "/movies/{{this._id}}"><img src="{{this.image}}" alt=""></a>
            </div>
                <div class= "title-show">
                    {{this.title}}
                </div>
        </div>

    {{/each}}
</div>
</div>

<footer>
    <h5>RateFlix</h5>
</footer>
</div>