
//Star Parralax Background
html {
  margin-top: -1rem;
  height: 130%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 130%);
  overflow: hidden;
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1796px #FFF , 385px 1285px #FFF , 740px 1391px #FFF , 1482px 995px #FFF , 308px 1376px #FFF , 1988px 163px #FFF , 407px 1476px #FFF , 1796px 1614px #FFF , 1067px 988px #FFF , 1581px 515px #FFF , 1667px 798px #FFF , 772px 774px #FFF , 1916px 646px #FFF , 1010px 1334px #FFF , 554px 1910px #FFF , 1009px 965px #FFF , 553px 1635px #FFF , 158px 1880px #FFF , 377px 1421px #FFF , 1891px 158px #FFF , 1035px 698px #FFF , 971px 1005px #FFF , 253px 438px #FFF , 452px 1808px #FFF , 1195px 95px #FFF , 11px 360px #FFF , 1561px 153px #FFF , 781px 119px #FFF , 1331px 1503px #FFF , 789px 701px #FFF , 327px 1564px #FFF , 312px 454px #FFF , 398px 169px #FFF , 780px 848px #FFF , 657px 717px #FFF , 1241px 1099px #FFF , 775px 713px #FFF , 1688px 525px #FFF , 1850px 1249px #FFF , 1005px 399px #FFF , 1262px 1689px #FFF , 1242px 170px #FFF , 202px 335px #FFF , 1860px 1370px #FFF , 256px 417px #FFF , 1489px 497px #FFF , 1174px 1199px #FFF , 935px 627px #FFF , 440px 722px #FFF , 1275px 1573px #FFF , 1247px 1799px #FFF , 982px 1260px #FFF , 1048px 173px #FFF , 21px 1731px #FFF , 531px 1215px #FFF , 1017px 825px #FFF , 165px 405px #FFF , 577px 1880px #FFF , 322px 1821px #FFF , 1513px 1027px #FFF , 699px 935px #FFF , 1073px 1809px #FFF , 1428px 1097px #FFF , 1747px 1138px #FFF , 588px 1920px #FFF , 968px 1520px #FFF , 1179px 1604px #FFF , 487px 530px #FFF , 768px 1617px #FFF , 1354px 1759px #FFF , 1295px 104px #FFF , 1073px 991px #FFF , 948px 83px #FFF , 220px 461px #FFF , 229px 842px #FFF , 1409px 734px #FFF , 1589px 1273px #FFF , 800px 1323px #FFF , 1954px 182px #FFF , 100px 1784px #FFF , 109px 1474px #FFF , 1336px 754px #FFF , 635px 399px #FFF , 419px 1016px #FFF , 484px 704px #FFF , 31px 702px #FFF , 135px 515px #FFF , 1211px 1175px #FFF , 866px 1352px #FFF , 1129px 1538px #FFF , 1433px 36px #FFF , 1405px 1995px #FFF , 1875px 585px #FFF , 1259px 1929px #FFF , 1327px 919px #FFF , 499px 344px #FFF , 1230px 1426px #FFF , 688px 101px #FFF , 258px 1660px #FFF , 1869px 590px #FFF , 1384px 756px #FFF , 1478px 854px #FFF , 1401px 360px #FFF , 109px 342px #FFF , 834px 200px #FFF , 893px 228px #FFF , 1647px 137px #FFF , 457px 270px #FFF , 679px 249px #FFF , 758px 800px #FFF , 125px 49px #FFF , 565px 1365px #FFF , 1276px 1840px #FFF , 1807px 1744px #FFF , 112px 1426px #FFF , 1467px 1543px #FFF , 1221px 1708px #FFF , 845px 1085px #FFF , 1506px 1453px #FFF , 849px 1437px #FFF , 183px 173px #FFF , 581px 1812px #FFF , 466px 730px #FFF , 842px 716px #FFF , 242px 1337px #FFF , 1715px 585px #FFF , 1918px 347px #FFF , 296px 674px #FFF , 1857px 1412px #FFF , 1212px 1769px #FFF , 1620px 377px #FFF , 726px 1228px #FFF , 1418px 562px #FFF , 476px 1444px #FFF , 210px 903px #FFF , 1449px 452px #FFF , 38px 361px #FFF , 1138px 4px #FFF , 1880px 242px #FFF , 83px 670px #FFF , 1162px 1728px #FFF , 1781px 879px #FFF , 812px 1110px #FFF , 1043px 1144px #FFF , 1064px 1982px #FFF , 1694px 1344px #FFF , 237px 220px #FFF , 121px 1507px #FFF , 312px 308px #FFF , 1148px 1669px #FFF , 1860px 673px #FFF , 871px 1116px #FFF , 1808px 1609px #FFF , 1932px 629px #FFF , 1819px 565px #FFF , 699px 434px #FFF , 1302px 1088px #FFF , 1580px 1669px #FFF , 479px 1488px #FFF , 1026px 199px #FFF , 222px 225px #FFF , 1924px 1873px #FFF , 1542px 121px #FFF , 536px 628px #FFF , 655px 808px #FFF , 1572px 480px #FFF , 1894px 1451px #FFF , 1276px 890px #FFF , 519px 911px #FFF , 1909px 1951px #FFF , 1782px 1309px #FFF , 35px 729px #FFF , 1200px 882px #FFF , 1121px 1584px #FFF , 1529px 708px #FFF , 1211px 819px #FFF , 161px 1131px #FFF , 547px 908px #FFF , 1770px 279px #FFF , 1910px 452px #FFF , 1973px 1185px #FFF , 1065px 1485px #FFF , 1288px 1923px #FFF , 1081px 1114px #FFF , 1416px 1022px #FFF , 1104px 120px #FFF , 1610px 1182px #FFF , 1224px 895px #FFF , 1051px 567px #FFF , 1144px 1543px #FFF , 1117px 526px #FFF , 563px 709px #FFF , 494px 1033px #FFF , 366px 838px #FFF , 1206px 1401px #FFF , 910px 1361px #FFF , 273px 1313px #FFF , 67px 242px #FFF , 1481px 1430px #FFF , 293px 437px #FFF , 215px 144px #FFF , 1926px 1328px #FFF , 6px 1046px #FFF , 1734px 1283px #FFF , 815px 756px #FFF , 883px 20px #FFF , 1391px 1132px #FFF , 1360px 1799px #FFF , 65px 1227px #FFF , 1565px 1141px #FFF , 660px 19px #FFF , 844px 869px #FFF , 293px 1544px #FFF , 134px 696px #FFF , 1116px 1160px #FFF , 241px 1118px #FFF , 1364px 1458px #FFF , 1346px 1870px #FFF , 651px 885px #FFF , 1429px 1018px #FFF , 983px 1370px #FFF , 927px 468px #FFF , 239px 580px #FFF , 1256px 64px #FFF , 916px 1432px #FFF , 426px 1448px #FFF , 698px 471px #FFF , 1170px 1244px #FFF , 1043px 985px #FFF , 1873px 1636px #FFF , 490px 138px #FFF , 99px 317px #FFF , 1194px 374px #FFF , 1958px 1688px #FFF , 875px 1908px #FFF , 18px 1450px #FFF , 800px 1642px #FFF , 1432px 487px #FFF , 1314px 1418px #FFF , 682px 543px #FFF , 1907px 411px #FFF , 914px 111px #FFF , 670px 246px #FFF , 1080px 341px #FFF , 1349px 932px #FFF , 1923px 1719px #FFF , 1164px 1706px #FFF , 1935px 1978px #FFF , 1795px 173px #FFF , 185px 1996px #FFF , 717px 267px #FFF , 124px 42px #FFF , 259px 536px #FFF , 245px 1813px #FFF , 1000px 764px #FFF , 1767px 1650px #FFF , 148px 944px #FFF , 1895px 776px #FFF , 350px 267px #FFF , 366px 1661px #FFF , 1294px 329px #FFF , 1219px 563px #FFF , 177px 1629px #FFF , 729px 1926px #FFF , 1961px 1533px #FFF , 477px 1292px #FFF , 1416px 319px #FFF , 685px 435px #FFF , 575px 404px #FFF , 167px 1769px #FFF , 1326px 1656px #FFF , 38px 462px #FFF , 34px 1976px #FFF , 972px 620px #FFF , 1804px 1907px #FFF , 76px 286px #FFF , 249px 1013px #FFF , 1158px 1754px #FFF , 391px 912px #FFF , 1074px 1067px #FFF , 325px 1747px #FFF , 1200px 1841px #FFF , 549px 263px #FFF , 945px 1777px #FFF , 743px 1445px #FFF , 1424px 1198px #FFF , 812px 1113px #FFF , 150px 1254px #FFF , 300px 82px #FFF , 1420px 222px #FFF , 1349px 1142px #FFF , 188px 1983px #FFF , 569px 1634px #FFF , 553px 813px #FFF , 211px 1360px #FFF , 1903px 1042px #FFF , 88px 133px #FFF , 878px 1716px #FFF , 1937px 544px #FFF , 845px 1075px #FFF , 997px 401px #FFF , 993px 429px #FFF , 1643px 1595px #FFF , 1045px 809px #FFF , 499px 1015px #FFF , 1197px 857px #FFF , 1699px 104px #FFF , 1807px 274px #FFF , 1002px 950px #FFF , 559px 1797px #FFF , 765px 1141px #FFF , 382px 675px #FFF , 1097px 1270px #FFF , 1785px 150px #FFF , 761px 1142px #FFF , 809px 932px #FFF , 219px 28px #FFF , 1386px 1989px #FFF , 1381px 1894px #FFF , 602px 879px #FFF , 1277px 315px #FFF , 233px 1375px #FFF , 246px 908px #FFF , 1725px 1778px #FFF , 835px 1520px #FFF , 975px 1309px #FFF , 179px 1131px #FFF , 1136px 1745px #FFF , 835px 1960px #FFF , 169px 1024px #FFF , 586px 826px #FFF , 1387px 627px #FFF , 1450px 755px #FFF , 664px 1781px #FFF , 1882px 1359px #FFF , 1572px 1222px #FFF , 1950px 1553px #FFF , 1133px 209px #FFF , 1477px 710px #FFF , 1092px 199px #FFF , 1819px 361px #FFF , 1436px 1255px #FFF , 1271px 1388px #FFF , 1226px 1905px #FFF , 25px 603px #FFF , 69px 82px #FFF , 203px 1981px #FFF , 275px 1465px #FFF , 1698px 409px #FFF , 85px 1051px #FFF , 561px 1175px #FFF , 747px 500px #FFF , 253px 1690px #FFF , 87px 1995px #FFF , 484px 1470px #FFF , 111px 1117px #FFF , 349px 864px #FFF , 413px 928px #FFF , 1341px 332px #FFF , 1715px 768px #FFF , 1805px 1475px #FFF , 679px 49px #FFF , 284px 1717px #FFF , 469px 1631px #FFF , 1059px 690px #FFF , 1818px 1825px #FFF , 1070px 1891px #FFF , 1280px 1103px #FFF , 544px 672px #FFF , 27px 1463px #FFF , 780px 1614px #FFF , 1302px 273px #FFF , 236px 1432px #FFF , 969px 1962px #FFF , 1305px 722px #FFF , 681px 1052px #FFF , 182px 304px #FFF , 1710px 1420px #FFF , 562px 784px #FFF , 1447px 1387px #FFF , 270px 347px #FFF , 758px 1031px #FFF , 510px 1276px #FFF , 48px 814px #FFF , 1372px 81px #FFF , 1520px 132px #FFF , 1319px 1617px #FFF , 753px 1507px #FFF , 1805px 436px #FFF , 519px 1612px #FFF , 1309px 179px #FFF , 631px 1375px #FFF , 1315px 102px #FFF , 1746px 1948px #FFF , 506px 1424px #FFF , 1343px 68px #FFF , 589px 491px #FFF , 1496px 62px #FFF , 1729px 1045px #FFF , 1360px 1794px #FFF , 835px 696px #FFF , 285px 1336px #FFF , 1008px 1341px #FFF , 1045px 1139px #FFF , 758px 239px #FFF , 291px 277px #FFF , 878px 709px #FFF , 1189px 615px #FFF , 16px 1323px #FFF , 406px 1040px #FFF , 239px 1936px #FFF , 1756px 384px #FFF , 898px 809px #FFF , 1614px 1176px #FFF , 388px 839px #FFF , 822px 1306px #FFF , 6px 1586px #FFF , 1643px 1004px #FFF , 1289px 1017px #FFF , 1330px 160px #FFF , 467px 1552px #FFF , 1847px 98px #FFF , 1448px 1506px #FFF , 115px 1048px #FFF , 764px 1130px #FFF , 1129px 540px #FFF , 678px 1990px #FFF , 895px 1611px #FFF , 1145px 1507px #FFF , 1269px 1164px #FFF , 314px 1094px #FFF , 452px 1209px #FFF , 1537px 1473px #FFF , 1336px 902px #FFF , 723px 63px #FFF , 418px 263px #FFF , 134px 709px #FFF , 1403px 1157px #FFF , 80px 1860px #FFF , 1210px 1318px #FFF , 705px 1165px #FFF , 638px 1690px #FFF , 933px 1197px #FFF , 1595px 740px #FFF , 1807px 675px #FFF , 1909px 619px #FFF , 1169px 132px #FFF , 182px 1810px #FFF , 1725px 45px #FFF , 575px 1325px #FFF , 461px 275px #FFF , 1033px 512px #FFF , 160px 488px #FFF , 1709px 1280px #FFF , 1515px 1239px #FFF , 19px 1966px #FFF , 1673px 1856px #FFF , 698px 699px #FFF , 1895px 1180px #FFF , 1568px 1338px #FFF , 1291px 125px #FFF , 412px 31px #FFF , 910px 1607px #FFF , 115px 1376px #FFF , 99px 1620px #FFF , 1005px 304px #FFF , 502px 1729px #FFF , 1547px 1066px #FFF , 826px 529px #FFF , 468px 1976px #FFF , 1319px 200px #FFF , 1884px 1634px #FFF , 1183px 801px #FFF , 1963px 1294px #FFF , 1415px 1215px #FFF , 274px 1220px #FFF , 332px 1457px #FFF , 1701px 555px #FFF , 941px 1910px #FFF , 1497px 1783px #FFF , 1158px 1664px #FFF , 1935px 1030px #FFF , 923px 1886px #FFF , 1180px 825px #FFF , 1016px 326px #FFF , 1418px 1721px #FFF , 1517px 1227px #FFF , 515px 419px #FFF , 1654px 1413px #FFF , 488px 15px #FFF , 1375px 370px #FFF , 1260px 392px #FFF , 1931px 593px #FFF , 410px 1865px #FFF , 1478px 1132px #FFF , 840px 182px #FFF , 349px 1844px #FFF , 1087px 1312px #FFF , 394px 92px #FFF , 543px 1540px #FFF , 120px 1176px #FFF , 484px 382px #FFF , 959px 1456px #FFF , 364px 1116px #FFF , 427px 196px #FFF , 1829px 1263px #FFF , 1731px 1575px #FFF , 735px 1757px #FFF , 1013px 937px #FFF , 5px 170px #FFF , 171px 1642px #FFF , 1461px 911px #FFF , 507px 295px #FFF , 1390px 1595px #FFF , 443px 516px #FFF , 1864px 1142px #FFF , 774px 273px #FFF , 1573px 429px #FFF , 1156px 724px #FFF , 50px 1188px #FFF , 1595px 1176px #FFF , 608px 872px #FFF , 775px 288px #FFF , 678px 194px #FFF , 718px 1214px #FFF , 123px 991px #FFF , 621px 587px #FFF , 1523px 1804px #FFF , 930px 959px #FFF , 917px 878px #FFF , 1619px 661px #FFF , 506px 782px #FFF , 1922px 1943px #FFF , 1542px 1112px #FFF , 85px 1483px #FFF , 300px 753px #FFF , 426px 1480px #FFF , 1045px 785px #FFF , 1319px 1147px #FFF , 720px 1746px #FFF , 245px 539px #FFF , 115px 1569px #FFF , 1846px 47px #FFF , 399px 1178px #FFF , 1067px 938px #FFF , 101px 176px #FFF , 979px 1730px #FFF , 625px 1923px #FFF , 647px 757px #FFF , 1904px 1314px #FFF , 306px 957px #FFF , 1096px 1651px #FFF , 1389px 130px #FFF , 1665px 1564px #FFF , 1378px 923px #FFF , 1210px 1325px #FFF , 1214px 507px #FFF , 6px 801px #FFF , 1514px 1745px #FFF , 878px 218px #FFF , 1454px 1443px #FFF , 880px 1160px #FFF , 228px 235px #FFF , 793px 1431px #FFF , 1088px 447px #FFF , 97px 1683px #FFF , 423px 1842px #FFF , 157px 559px #FFF , 462px 1096px #FFF , 1913px 1095px #FFF , 1191px 1331px #FFF , 360px 96px #FFF , 591px 867px #FFF , 792px 429px #FFF , 1404px 1205px #FFF , 628px 658px #FFF , 1313px 677px #FFF , 70px 508px #FFF , 1717px 922px #FFF , 530px 893px #FFF , 249px 1186px #FFF , 342px 1301px #FFF , 41px 1815px #FFF , 861px 1660px #FFF , 917px 354px #FFF , 1762px 1847px #FFF , 1342px 587px #FFF , 546px 1541px #FFF , 1680px 981px #FFF , 958px 405px #FFF , 1618px 1363px #FFF , 529px 433px #FFF , 1668px 1382px #FFF , 1584px 224px #FFF , 707px 1167px #FFF , 816px 426px #FFF , 1533px 629px #FFF , 1497px 953px #FFF , 1259px 72px #FFF , 51px 1678px #FFF , 1590px 881px #FFF , 1235px 731px #FFF , 1135px 1977px #FFF , 585px 1356px #FFF , 1078px 776px #FFF , 1510px 1952px #FFF , 70px 397px #FFF , 958px 908px #FFF , 396px 1692px #FFF , 1911px 1956px #FFF , 1043px 1732px #FFF , 124px 1978px #FFF , 485px 97px #FFF , 1452px 477px #FFF , 351px 111px #FFF , 1429px 8px #FFF , 1964px 570px #FFF , 502px 1933px #FFF , 1926px 1859px #FFF , 48px 341px #FFF , 777px 550px #FFF , 573px 1818px #FFF , 1125px 512px #FFF , 377px 1438px #FFF , 932px 1760px #FFF , 359px 1380px #FFF , 1647px 1245px #FFF , 633px 1455px #FFF , 769px 1717px #FFF , 1996px 1461px #FFF , 985px 902px #FFF , 1933px 936px #FFF , 1144px 1581px #FFF , 807px 617px #FFF , 391px 1311px #FFF , 805px 372px #FFF , 37px 1708px #FFF , 1032px 347px #FFF , 874px 1674px #FFF , 1399px 947px #FFF , 926px 1795px #FFF , 1519px 1458px #FFF , 836px 1906px #FFF , 418px 12px #FFF , 182px 1692px #FFF , 1303px 1817px #FFF , 38px 74px #FFF , 206px 300px #FFF , 663px 452px #FFF , 444px 1568px #FFF , 1580px 106px #FFF , 672px 453px #FFF , 858px 716px #FFF , 1601px 1055px #FFF , 1510px 977px #FFF , 1315px 1812px #FFF , 1854px 1636px #FFF , 787px 1742px #FFF , 846px 581px #FFF , 6px 1001px #FFF , 657px 161px #FFF , 1899px 247px #FFF , 1338px 394px #FFF , 746px 738px #FFF , 1292px 1073px #FFF , 1016px 1761px #FFF , 536px 846px #FFF , 911px 37px #FFF , 1801px 1123px #FFF , 1716px 288px #FFF , 1072px 142px #FFF , 23px 303px #FFF , 1999px 1848px #FFF , 403px 104px #FFF , 291px 962px #FFF , 1951px 1068px #FFF , 155px 1529px #FFF , 1240px 1392px #FFF , 1833px 1650px #FFF , 354px 697px #FFF , 553px 95px #FFF , 57px 461px #FFF , 408px 400px #FFF , 966px 28px #FFF , 1406px 806px #FFF , 543px 1015px #FFF , 1907px 932px #FFF , 1282px 1730px #FFF , 401px 956px #FFF , 914px 1450px #FFF , 940px 1448px #FFF , 294px 1536px #FFF , 134px 365px #FFF , 387px 1544px #FFF , 326px 742px #FFF , 622px 1014px #FFF , 300px 562px #FFF , 1073px 1675px #FFF , 1091px 1489px #FFF , 875px 587px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1796px #FFF , 385px 1285px #FFF , 740px 1391px #FFF , 1482px 995px #FFF , 308px 1376px #FFF , 1988px 163px #FFF , 407px 1476px #FFF , 1796px 1614px #FFF , 1067px 988px #FFF , 1581px 515px #FFF , 1667px 798px #FFF , 772px 774px #FFF , 1916px 646px #FFF , 1010px 1334px #FFF , 554px 1910px #FFF , 1009px 965px #FFF , 553px 1635px #FFF , 158px 1880px #FFF , 377px 1421px #FFF , 1891px 158px #FFF , 1035px 698px #FFF , 971px 1005px #FFF , 253px 438px #FFF , 452px 1808px #FFF , 1195px 95px #FFF , 11px 360px #FFF , 1561px 153px #FFF , 781px 119px #FFF , 1331px 1503px #FFF , 789px 701px #FFF , 327px 1564px #FFF , 312px 454px #FFF , 398px 169px #FFF , 780px 848px #FFF , 657px 717px #FFF , 1241px 1099px #FFF , 775px 713px #FFF , 1688px 525px #FFF , 1850px 1249px #FFF , 1005px 399px #FFF , 1262px 1689px #FFF , 1242px 170px #FFF , 202px 335px #FFF , 1860px 1370px #FFF , 256px 417px #FFF , 1489px 497px #FFF , 1174px 1199px #FFF , 935px 627px #FFF , 440px 722px #FFF , 1275px 1573px #FFF , 1247px 1799px #FFF , 982px 1260px #FFF , 1048px 173px #FFF , 21px 1731px #FFF , 531px 1215px #FFF , 1017px 825px #FFF , 165px 405px #FFF , 577px 1880px #FFF , 322px 1821px #FFF , 1513px 1027px #FFF , 699px 935px #FFF , 1073px 1809px #FFF , 1428px 1097px #FFF , 1747px 1138px #FFF , 588px 1920px #FFF , 968px 1520px #FFF , 1179px 1604px #FFF , 487px 530px #FFF , 768px 1617px #FFF , 1354px 1759px #FFF , 1295px 104px #FFF , 1073px 991px #FFF , 948px 83px #FFF , 220px 461px #FFF , 229px 842px #FFF , 1409px 734px #FFF , 1589px 1273px #FFF , 800px 1323px #FFF , 1954px 182px #FFF , 100px 1784px #FFF , 109px 1474px #FFF , 1336px 754px #FFF , 635px 399px #FFF , 419px 1016px #FFF , 484px 704px #FFF , 31px 702px #FFF , 135px 515px #FFF , 1211px 1175px #FFF , 866px 1352px #FFF , 1129px 1538px #FFF , 1433px 36px #FFF , 1405px 1995px #FFF , 1875px 585px #FFF , 1259px 1929px #FFF , 1327px 919px #FFF , 499px 344px #FFF , 1230px 1426px #FFF , 688px 101px #FFF , 258px 1660px #FFF , 1869px 590px #FFF , 1384px 756px #FFF , 1478px 854px #FFF , 1401px 360px #FFF , 109px 342px #FFF , 834px 200px #FFF , 893px 228px #FFF , 1647px 137px #FFF , 457px 270px #FFF , 679px 249px #FFF , 758px 800px #FFF , 125px 49px #FFF , 565px 1365px #FFF , 1276px 1840px #FFF , 1807px 1744px #FFF , 112px 1426px #FFF , 1467px 1543px #FFF , 1221px 1708px #FFF , 845px 1085px #FFF , 1506px 1453px #FFF , 849px 1437px #FFF , 183px 173px #FFF , 581px 1812px #FFF , 466px 730px #FFF , 842px 716px #FFF , 242px 1337px #FFF , 1715px 585px #FFF , 1918px 347px #FFF , 296px 674px #FFF , 1857px 1412px #FFF , 1212px 1769px #FFF , 1620px 377px #FFF , 726px 1228px #FFF , 1418px 562px #FFF , 476px 1444px #FFF , 210px 903px #FFF , 1449px 452px #FFF , 38px 361px #FFF , 1138px 4px #FFF , 1880px 242px #FFF , 83px 670px #FFF , 1162px 1728px #FFF , 1781px 879px #FFF , 812px 1110px #FFF , 1043px 1144px #FFF , 1064px 1982px #FFF , 1694px 1344px #FFF , 237px 220px #FFF , 121px 1507px #FFF , 312px 308px #FFF , 1148px 1669px #FFF , 1860px 673px #FFF , 871px 1116px #FFF , 1808px 1609px #FFF , 1932px 629px #FFF , 1819px 565px #FFF , 699px 434px #FFF , 1302px 1088px #FFF , 1580px 1669px #FFF , 479px 1488px #FFF , 1026px 199px #FFF , 222px 225px #FFF , 1924px 1873px #FFF , 1542px 121px #FFF , 536px 628px #FFF , 655px 808px #FFF , 1572px 480px #FFF , 1894px 1451px #FFF , 1276px 890px #FFF , 519px 911px #FFF , 1909px 1951px #FFF , 1782px 1309px #FFF , 35px 729px #FFF , 1200px 882px #FFF , 1121px 1584px #FFF , 1529px 708px #FFF , 1211px 819px #FFF , 161px 1131px #FFF , 547px 908px #FFF , 1770px 279px #FFF , 1910px 452px #FFF , 1973px 1185px #FFF , 1065px 1485px #FFF , 1288px 1923px #FFF , 1081px 1114px #FFF , 1416px 1022px #FFF , 1104px 120px #FFF , 1610px 1182px #FFF , 1224px 895px #FFF , 1051px 567px #FFF , 1144px 1543px #FFF , 1117px 526px #FFF , 563px 709px #FFF , 494px 1033px #FFF , 366px 838px #FFF , 1206px 1401px #FFF , 910px 1361px #FFF , 273px 1313px #FFF , 67px 242px #FFF , 1481px 1430px #FFF , 293px 437px #FFF , 215px 144px #FFF , 1926px 1328px #FFF , 6px 1046px #FFF , 1734px 1283px #FFF , 815px 756px #FFF , 883px 20px #FFF , 1391px 1132px #FFF , 1360px 1799px #FFF , 65px 1227px #FFF , 1565px 1141px #FFF , 660px 19px #FFF , 844px 869px #FFF , 293px 1544px #FFF , 134px 696px #FFF , 1116px 1160px #FFF , 241px 1118px #FFF , 1364px 1458px #FFF , 1346px 1870px #FFF , 651px 885px #FFF , 1429px 1018px #FFF , 983px 1370px #FFF , 927px 468px #FFF , 239px 580px #FFF , 1256px 64px #FFF , 916px 1432px #FFF , 426px 1448px #FFF , 698px 471px #FFF , 1170px 1244px #FFF , 1043px 985px #FFF , 1873px 1636px #FFF , 490px 138px #FFF , 99px 317px #FFF , 1194px 374px #FFF , 1958px 1688px #FFF , 875px 1908px #FFF , 18px 1450px #FFF , 800px 1642px #FFF , 1432px 487px #FFF , 1314px 1418px #FFF , 682px 543px #FFF , 1907px 411px #FFF , 914px 111px #FFF , 670px 246px #FFF , 1080px 341px #FFF , 1349px 932px #FFF , 1923px 1719px #FFF , 1164px 1706px #FFF , 1935px 1978px #FFF , 1795px 173px #FFF , 185px 1996px #FFF , 717px 267px #FFF , 124px 42px #FFF , 259px 536px #FFF , 245px 1813px #FFF , 1000px 764px #FFF , 1767px 1650px #FFF , 148px 944px #FFF , 1895px 776px #FFF , 350px 267px #FFF , 366px 1661px #FFF , 1294px 329px #FFF , 1219px 563px #FFF , 177px 1629px #FFF , 729px 1926px #FFF , 1961px 1533px #FFF , 477px 1292px #FFF , 1416px 319px #FFF , 685px 435px #FFF , 575px 404px #FFF , 167px 1769px #FFF , 1326px 1656px #FFF , 38px 462px #FFF , 34px 1976px #FFF , 972px 620px #FFF , 1804px 1907px #FFF , 76px 286px #FFF , 249px 1013px #FFF , 1158px 1754px #FFF , 391px 912px #FFF , 1074px 1067px #FFF , 325px 1747px #FFF , 1200px 1841px #FFF , 549px 263px #FFF , 945px 1777px #FFF , 743px 1445px #FFF , 1424px 1198px #FFF , 812px 1113px #FFF , 150px 1254px #FFF , 300px 82px #FFF , 1420px 222px #FFF , 1349px 1142px #FFF , 188px 1983px #FFF , 569px 1634px #FFF , 553px 813px #FFF , 211px 1360px #FFF , 1903px 1042px #FFF , 88px 133px #FFF , 878px 1716px #FFF , 1937px 544px #FFF , 845px 1075px #FFF , 997px 401px #FFF , 993px 429px #FFF , 1643px 1595px #FFF , 1045px 809px #FFF , 499px 1015px #FFF , 1197px 857px #FFF , 1699px 104px #FFF , 1807px 274px #FFF , 1002px 950px #FFF , 559px 1797px #FFF , 765px 1141px #FFF , 382px 675px #FFF , 1097px 1270px #FFF , 1785px 150px #FFF , 761px 1142px #FFF , 809px 932px #FFF , 219px 28px #FFF , 1386px 1989px #FFF , 1381px 1894px #FFF , 602px 879px #FFF , 1277px 315px #FFF , 233px 1375px #FFF , 246px 908px #FFF , 1725px 1778px #FFF , 835px 1520px #FFF , 975px 1309px #FFF , 179px 1131px #FFF , 1136px 1745px #FFF , 835px 1960px #FFF , 169px 1024px #FFF , 586px 826px #FFF , 1387px 627px #FFF , 1450px 755px #FFF , 664px 1781px #FFF , 1882px 1359px #FFF , 1572px 1222px #FFF , 1950px 1553px #FFF , 1133px 209px #FFF , 1477px 710px #FFF , 1092px 199px #FFF , 1819px 361px #FFF , 1436px 1255px #FFF , 1271px 1388px #FFF , 1226px 1905px #FFF , 25px 603px #FFF , 69px 82px #FFF , 203px 1981px #FFF , 275px 1465px #FFF , 1698px 409px #FFF , 85px 1051px #FFF , 561px 1175px #FFF , 747px 500px #FFF , 253px 1690px #FFF , 87px 1995px #FFF , 484px 1470px #FFF , 111px 1117px #FFF , 349px 864px #FFF , 413px 928px #FFF , 1341px 332px #FFF , 1715px 768px #FFF , 1805px 1475px #FFF , 679px 49px #FFF , 284px 1717px #FFF , 469px 1631px #FFF , 1059px 690px #FFF , 1818px 1825px #FFF , 1070px 1891px #FFF , 1280px 1103px #FFF , 544px 672px #FFF , 27px 1463px #FFF , 780px 1614px #FFF , 1302px 273px #FFF , 236px 1432px #FFF , 969px 1962px #FFF , 1305px 722px #FFF , 681px 1052px #FFF , 182px 304px #FFF , 1710px 1420px #FFF , 562px 784px #FFF , 1447px 1387px #FFF , 270px 347px #FFF , 758px 1031px #FFF , 510px 1276px #FFF , 48px 814px #FFF , 1372px 81px #FFF , 1520px 132px #FFF , 1319px 1617px #FFF , 753px 1507px #FFF , 1805px 436px #FFF , 519px 1612px #FFF , 1309px 179px #FFF , 631px 1375px #FFF , 1315px 102px #FFF , 1746px 1948px #FFF , 506px 1424px #FFF , 1343px 68px #FFF , 589px 491px #FFF , 1496px 62px #FFF , 1729px 1045px #FFF , 1360px 1794px #FFF , 835px 696px #FFF , 285px 1336px #FFF , 1008px 1341px #FFF , 1045px 1139px #FFF , 758px 239px #FFF , 291px 277px #FFF , 878px 709px #FFF , 1189px 615px #FFF , 16px 1323px #FFF , 406px 1040px #FFF , 239px 1936px #FFF , 1756px 384px #FFF , 898px 809px #FFF , 1614px 1176px #FFF , 388px 839px #FFF , 822px 1306px #FFF , 6px 1586px #FFF , 1643px 1004px #FFF , 1289px 1017px #FFF , 1330px 160px #FFF , 467px 1552px #FFF , 1847px 98px #FFF , 1448px 1506px #FFF , 115px 1048px #FFF , 764px 1130px #FFF , 1129px 540px #FFF , 678px 1990px #FFF , 895px 1611px #FFF , 1145px 1507px #FFF , 1269px 1164px #FFF , 314px 1094px #FFF , 452px 1209px #FFF , 1537px 1473px #FFF , 1336px 902px #FFF , 723px 63px #FFF , 418px 263px #FFF , 134px 709px #FFF , 1403px 1157px #FFF , 80px 1860px #FFF , 1210px 1318px #FFF , 705px 1165px #FFF , 638px 1690px #FFF , 933px 1197px #FFF , 1595px 740px #FFF , 1807px 675px #FFF , 1909px 619px #FFF , 1169px 132px #FFF , 182px 1810px #FFF , 1725px 45px #FFF , 575px 1325px #FFF , 461px 275px #FFF , 1033px 512px #FFF , 160px 488px #FFF , 1709px 1280px #FFF , 1515px 1239px #FFF , 19px 1966px #FFF , 1673px 1856px #FFF , 698px 699px #FFF , 1895px 1180px #FFF , 1568px 1338px #FFF , 1291px 125px #FFF , 412px 31px #FFF , 910px 1607px #FFF , 115px 1376px #FFF , 99px 1620px #FFF , 1005px 304px #FFF , 502px 1729px #FFF , 1547px 1066px #FFF , 826px 529px #FFF , 468px 1976px #FFF , 1319px 200px #FFF , 1884px 1634px #FFF , 1183px 801px #FFF , 1963px 1294px #FFF , 1415px 1215px #FFF , 274px 1220px #FFF , 332px 1457px #FFF , 1701px 555px #FFF , 941px 1910px #FFF , 1497px 1783px #FFF , 1158px 1664px #FFF , 1935px 1030px #FFF , 923px 1886px #FFF , 1180px 825px #FFF , 1016px 326px #FFF , 1418px 1721px #FFF , 1517px 1227px #FFF , 515px 419px #FFF , 1654px 1413px #FFF , 488px 15px #FFF , 1375px 370px #FFF , 1260px 392px #FFF , 1931px 593px #FFF , 410px 1865px #FFF , 1478px 1132px #FFF , 840px 182px #FFF , 349px 1844px #FFF , 1087px 1312px #FFF , 394px 92px #FFF , 543px 1540px #FFF , 120px 1176px #FFF , 484px 382px #FFF , 959px 1456px #FFF , 364px 1116px #FFF , 427px 196px #FFF , 1829px 1263px #FFF , 1731px 1575px #FFF , 735px 1757px #FFF , 1013px 937px #FFF , 5px 170px #FFF , 171px 1642px #FFF , 1461px 911px #FFF , 507px 295px #FFF , 1390px 1595px #FFF , 443px 516px #FFF , 1864px 1142px #FFF , 774px 273px #FFF , 1573px 429px #FFF , 1156px 724px #FFF , 50px 1188px #FFF , 1595px 1176px #FFF , 608px 872px #FFF , 775px 288px #FFF , 678px 194px #FFF , 718px 1214px #FFF , 123px 991px #FFF , 621px 587px #FFF , 1523px 1804px #FFF , 930px 959px #FFF , 917px 878px #FFF , 1619px 661px #FFF , 506px 782px #FFF , 1922px 1943px #FFF , 1542px 1112px #FFF , 85px 1483px #FFF , 300px 753px #FFF , 426px 1480px #FFF , 1045px 785px #FFF , 1319px 1147px #FFF , 720px 1746px #FFF , 245px 539px #FFF , 115px 1569px #FFF , 1846px 47px #FFF , 399px 1178px #FFF , 1067px 938px #FFF , 101px 176px #FFF , 979px 1730px #FFF , 625px 1923px #FFF , 647px 757px #FFF , 1904px 1314px #FFF , 306px 957px #FFF , 1096px 1651px #FFF , 1389px 130px #FFF , 1665px 1564px #FFF , 1378px 923px #FFF , 1210px 1325px #FFF , 1214px 507px #FFF , 6px 801px #FFF , 1514px 1745px #FFF , 878px 218px #FFF , 1454px 1443px #FFF , 880px 1160px #FFF , 228px 235px #FFF , 793px 1431px #FFF , 1088px 447px #FFF , 97px 1683px #FFF , 423px 1842px #FFF , 157px 559px #FFF , 462px 1096px #FFF , 1913px 1095px #FFF , 1191px 1331px #FFF , 360px 96px #FFF , 591px 867px #FFF , 792px 429px #FFF , 1404px 1205px #FFF , 628px 658px #FFF , 1313px 677px #FFF , 70px 508px #FFF , 1717px 922px #FFF , 530px 893px #FFF , 249px 1186px #FFF , 342px 1301px #FFF , 41px 1815px #FFF , 861px 1660px #FFF , 917px 354px #FFF , 1762px 1847px #FFF , 1342px 587px #FFF , 546px 1541px #FFF , 1680px 981px #FFF , 958px 405px #FFF , 1618px 1363px #FFF , 529px 433px #FFF , 1668px 1382px #FFF , 1584px 224px #FFF , 707px 1167px #FFF , 816px 426px #FFF , 1533px 629px #FFF , 1497px 953px #FFF , 1259px 72px #FFF , 51px 1678px #FFF , 1590px 881px #FFF , 1235px 731px #FFF , 1135px 1977px #FFF , 585px 1356px #FFF , 1078px 776px #FFF , 1510px 1952px #FFF , 70px 397px #FFF , 958px 908px #FFF , 396px 1692px #FFF , 1911px 1956px #FFF , 1043px 1732px #FFF , 124px 1978px #FFF , 485px 97px #FFF , 1452px 477px #FFF , 351px 111px #FFF , 1429px 8px #FFF , 1964px 570px #FFF , 502px 1933px #FFF , 1926px 1859px #FFF , 48px 341px #FFF , 777px 550px #FFF , 573px 1818px #FFF , 1125px 512px #FFF , 377px 1438px #FFF , 932px 1760px #FFF , 359px 1380px #FFF , 1647px 1245px #FFF , 633px 1455px #FFF , 769px 1717px #FFF , 1996px 1461px #FFF , 985px 902px #FFF , 1933px 936px #FFF , 1144px 1581px #FFF , 807px 617px #FFF , 391px 1311px #FFF , 805px 372px #FFF , 37px 1708px #FFF , 1032px 347px #FFF , 874px 1674px #FFF , 1399px 947px #FFF , 926px 1795px #FFF , 1519px 1458px #FFF , 836px 1906px #FFF , 418px 12px #FFF , 182px 1692px #FFF , 1303px 1817px #FFF , 38px 74px #FFF , 206px 300px #FFF , 663px 452px #FFF , 444px 1568px #FFF , 1580px 106px #FFF , 672px 453px #FFF , 858px 716px #FFF , 1601px 1055px #FFF , 1510px 977px #FFF , 1315px 1812px #FFF , 1854px 1636px #FFF , 787px 1742px #FFF , 846px 581px #FFF , 6px 1001px #FFF , 657px 161px #FFF , 1899px 247px #FFF , 1338px 394px #FFF , 746px 738px #FFF , 1292px 1073px #FFF , 1016px 1761px #FFF , 536px 846px #FFF , 911px 37px #FFF , 1801px 1123px #FFF , 1716px 288px #FFF , 1072px 142px #FFF , 23px 303px #FFF , 1999px 1848px #FFF , 403px 104px #FFF , 291px 962px #FFF , 1951px 1068px #FFF , 155px 1529px #FFF , 1240px 1392px #FFF , 1833px 1650px #FFF , 354px 697px #FFF , 553px 95px #FFF , 57px 461px #FFF , 408px 400px #FFF , 966px 28px #FFF , 1406px 806px #FFF , 543px 1015px #FFF , 1907px 932px #FFF , 1282px 1730px #FFF , 401px 956px #FFF , 914px 1450px #FFF , 940px 1448px #FFF , 294px 1536px #FFF , 134px 365px #FFF , 387px 1544px #FFF , 326px 742px #FFF , 622px 1014px #FFF , 300px 562px #FFF , 1073px 1675px #FFF , 1091px 1489px #FFF , 875px 587px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 326px 1662px #FFF , 1831px 329px #FFF , 1818px 1075px #FFF , 1114px 140px #FFF , 487px 233px #FFF , 952px 1448px #FFF , 1836px 373px #FFF , 1678px 566px #FFF , 1647px 1006px #FFF , 492px 437px #FFF , 1680px 735px #FFF , 1477px 1838px #FFF , 447px 389px #FFF , 911px 1455px #FFF , 1600px 904px #FFF , 1042px 482px #FFF , 310px 1800px #FFF , 1205px 145px #FFF , 28px 365px #FFF , 1043px 873px #FFF , 113px 534px #FFF , 239px 303px #FFF , 1978px 345px #FFF , 1315px 215px #FFF , 781px 7px #FFF , 806px 1544px #FFF , 661px 1600px #FFF , 1937px 1817px #FFF , 1986px 527px #FFF , 1765px 1796px #FFF , 1971px 390px #FFF , 1016px 518px #FFF , 711px 1180px #FFF , 99px 1311px #FFF , 1059px 1655px #FFF , 1371px 587px #FFF , 1327px 1315px #FFF , 520px 1141px #FFF , 1248px 1255px #FFF , 1297px 1215px #FFF , 320px 1323px #FFF , 1866px 1293px #FFF , 1972px 1448px #FFF , 1101px 1297px #FFF , 1133px 380px #FFF , 208px 754px #FFF , 1411px 1972px #FFF , 1593px 1401px #FFF , 1525px 1131px #FFF , 764px 323px #FFF , 1628px 1357px #FFF , 1717px 666px #FFF , 980px 957px #FFF , 1495px 1571px #FFF , 1324px 1333px #FFF , 688px 1422px #FFF , 1730px 737px #FFF , 450px 1309px #FFF , 283px 200px #FFF , 566px 1186px #FFF , 39px 98px #FFF , 1528px 1868px #FFF , 749px 574px #FFF , 1940px 574px #FFF , 264px 1347px #FFF , 1877px 1855px #FFF , 1533px 1800px #FFF , 237px 792px #FFF , 1613px 456px #FFF , 1885px 1013px #FFF , 228px 1467px #FFF , 1587px 1399px #FFF , 1504px 827px #FFF , 547px 1150px #FFF , 1579px 1757px #FFF , 1622px 1170px #FFF , 1419px 595px #FFF , 760px 69px #FFF , 1314px 1124px #FFF , 365px 1401px #FFF , 161px 176px #FFF , 1785px 643px #FFF , 978px 829px #FFF , 1626px 1694px #FFF , 245px 1129px #FFF , 1311px 411px #FFF , 112px 7px #FFF , 751px 1018px #FFF , 273px 563px #FFF , 625px 1632px #FFF , 1942px 1313px #FFF , 1754px 842px #FFF , 1073px 1080px #FFF , 1291px 1100px #FFF , 211px 1762px #FFF , 1145px 1292px #FFF , 667px 664px #FFF , 666px 778px #FFF , 1298px 1347px #FFF , 1530px 1491px #FFF , 613px 946px #FFF , 1852px 1031px #FFF , 1312px 1922px #FFF , 1384px 452px #FFF , 1495px 1340px #FFF , 1583px 768px #FFF , 96px 1056px #FFF , 149px 134px #FFF , 827px 896px #FFF , 1968px 1970px #FFF , 1267px 1540px #FFF , 1224px 153px #FFF , 1107px 1375px #FFF , 894px 1229px #FFF , 1780px 99px #FFF , 376px 174px #FFF , 743px 691px #FFF , 181px 1660px #FFF , 1835px 1179px #FFF , 364px 171px #FFF , 1445px 351px #FFF , 842px 1714px #FFF , 1760px 1720px #FFF , 1155px 1537px #FFF , 274px 1218px #FFF , 1479px 334px #FFF , 109px 978px #FFF , 82px 1024px #FFF , 908px 32px #FFF , 1138px 1570px #FFF , 102px 303px #FFF , 196px 137px #FFF , 53px 1517px #FFF , 160px 583px #FFF , 463px 513px #FFF , 203px 1731px #FFF , 1448px 227px #FFF , 874px 1625px #FFF , 1696px 1779px #FFF , 1717px 1210px #FFF , 1686px 1307px #FFF , 247px 1673px #FFF , 183px 1822px #FFF , 947px 1994px #FFF , 52px 1520px #FFF , 968px 582px #FFF , 197px 1744px #FFF , 155px 806px #FFF , 128px 114px #FFF , 1119px 1311px #FFF , 249px 289px #FFF , 912px 589px #FFF , 943px 900px #FFF , 307px 138px #FFF , 437px 1934px #FFF , 1098px 1388px #FFF , 1584px 518px #FFF , 222px 553px #FFF , 1898px 900px #FFF , 1043px 689px #FFF , 1255px 1054px #FFF , 1827px 778px #FFF , 1520px 687px #FFF , 558px 118px #FFF , 229px 890px #FFF , 101px 369px #FFF , 1034px 20px #FFF , 1216px 1680px #FFF , 131px 462px #FFF , 882px 1139px #FFF , 609px 59px #FFF , 1004px 1962px #FFF , 659px 638px #FFF , 730px 680px #FFF , 86px 1360px #FFF , 762px 573px #FFF , 266px 927px #FFF , 728px 1045px #FFF , 504px 1925px #FFF , 1643px 731px #FFF , 1710px 1177px #FFF , 1695px 426px #FFF , 440px 954px #FFF , 1159px 1792px #FFF , 1538px 1497px #FFF , 411px 1655px #FFF , 1910px 325px #FFF , 1769px 166px #FFF , 1855px 1521px #FFF , 1383px 1922px #FFF , 68px 1206px #FFF , 203px 1595px #FFF , 996px 986px #FFF , 1471px 1683px #FFF , 1048px 32px #FFF , 788px 1090px #FFF , 1969px 243px #FFF , 1195px 1527px #FFF , 1540px 813px #FFF , 300px 1223px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 326px 1662px #FFF , 1831px 329px #FFF , 1818px 1075px #FFF , 1114px 140px #FFF , 487px 233px #FFF , 952px 1448px #FFF , 1836px 373px #FFF , 1678px 566px #FFF , 1647px 1006px #FFF , 492px 437px #FFF , 1680px 735px #FFF , 1477px 1838px #FFF , 447px 389px #FFF , 911px 1455px #FFF , 1600px 904px #FFF , 1042px 482px #FFF , 310px 1800px #FFF , 1205px 145px #FFF , 28px 365px #FFF , 1043px 873px #FFF , 113px 534px #FFF , 239px 303px #FFF , 1978px 345px #FFF , 1315px 215px #FFF , 781px 7px #FFF , 806px 1544px #FFF , 661px 1600px #FFF , 1937px 1817px #FFF , 1986px 527px #FFF , 1765px 1796px #FFF , 1971px 390px #FFF , 1016px 518px #FFF , 711px 1180px #FFF , 99px 1311px #FFF , 1059px 1655px #FFF , 1371px 587px #FFF , 1327px 1315px #FFF , 520px 1141px #FFF , 1248px 1255px #FFF , 1297px 1215px #FFF , 320px 1323px #FFF , 1866px 1293px #FFF , 1972px 1448px #FFF , 1101px 1297px #FFF , 1133px 380px #FFF , 208px 754px #FFF , 1411px 1972px #FFF , 1593px 1401px #FFF , 1525px 1131px #FFF , 764px 323px #FFF , 1628px 1357px #FFF , 1717px 666px #FFF , 980px 957px #FFF , 1495px 1571px #FFF , 1324px 1333px #FFF , 688px 1422px #FFF , 1730px 737px #FFF , 450px 1309px #FFF , 283px 200px #FFF , 566px 1186px #FFF , 39px 98px #FFF , 1528px 1868px #FFF , 749px 574px #FFF , 1940px 574px #FFF , 264px 1347px #FFF , 1877px 1855px #FFF , 1533px 1800px #FFF , 237px 792px #FFF , 1613px 456px #FFF , 1885px 1013px #FFF , 228px 1467px #FFF , 1587px 1399px #FFF , 1504px 827px #FFF , 547px 1150px #FFF , 1579px 1757px #FFF , 1622px 1170px #FFF , 1419px 595px #FFF , 760px 69px #FFF , 1314px 1124px #FFF , 365px 1401px #FFF , 161px 176px #FFF , 1785px 643px #FFF , 978px 829px #FFF , 1626px 1694px #FFF , 245px 1129px #FFF , 1311px 411px #FFF , 112px 7px #FFF , 751px 1018px #FFF , 273px 563px #FFF , 625px 1632px #FFF , 1942px 1313px #FFF , 1754px 842px #FFF , 1073px 1080px #FFF , 1291px 1100px #FFF , 211px 1762px #FFF , 1145px 1292px #FFF , 667px 664px #FFF , 666px 778px #FFF , 1298px 1347px #FFF , 1530px 1491px #FFF , 613px 946px #FFF , 1852px 1031px #FFF , 1312px 1922px #FFF , 1384px 452px #FFF , 1495px 1340px #FFF , 1583px 768px #FFF , 96px 1056px #FFF , 149px 134px #FFF , 827px 896px #FFF , 1968px 1970px #FFF , 1267px 1540px #FFF , 1224px 153px #FFF , 1107px 1375px #FFF , 894px 1229px #FFF , 1780px 99px #FFF , 376px 174px #FFF , 743px 691px #FFF , 181px 1660px #FFF , 1835px 1179px #FFF , 364px 171px #FFF , 1445px 351px #FFF , 842px 1714px #FFF , 1760px 1720px #FFF , 1155px 1537px #FFF , 274px 1218px #FFF , 1479px 334px #FFF , 109px 978px #FFF , 82px 1024px #FFF , 908px 32px #FFF , 1138px 1570px #FFF , 102px 303px #FFF , 196px 137px #FFF , 53px 1517px #FFF , 160px 583px #FFF , 463px 513px #FFF , 203px 1731px #FFF , 1448px 227px #FFF , 874px 1625px #FFF , 1696px 1779px #FFF , 1717px 1210px #FFF , 1686px 1307px #FFF , 247px 1673px #FFF , 183px 1822px #FFF , 947px 1994px #FFF , 52px 1520px #FFF , 968px 582px #FFF , 197px 1744px #FFF , 155px 806px #FFF , 128px 114px #FFF , 1119px 1311px #FFF , 249px 289px #FFF , 912px 589px #FFF , 943px 900px #FFF , 307px 138px #FFF , 437px 1934px #FFF , 1098px 1388px #FFF , 1584px 518px #FFF , 222px 553px #FFF , 1898px 900px #FFF , 1043px 689px #FFF , 1255px 1054px #FFF , 1827px 778px #FFF , 1520px 687px #FFF , 558px 118px #FFF , 229px 890px #FFF , 101px 369px #FFF , 1034px 20px #FFF , 1216px 1680px #FFF , 131px 462px #FFF , 882px 1139px #FFF , 609px 59px #FFF , 1004px 1962px #FFF , 659px 638px #FFF , 730px 680px #FFF , 86px 1360px #FFF , 762px 573px #FFF , 266px 927px #FFF , 728px 1045px #FFF , 504px 1925px #FFF , 1643px 731px #FFF , 1710px 1177px #FFF , 1695px 426px #FFF , 440px 954px #FFF , 1159px 1792px #FFF , 1538px 1497px #FFF , 411px 1655px #FFF , 1910px 325px #FFF , 1769px 166px #FFF , 1855px 1521px #FFF , 1383px 1922px #FFF , 68px 1206px #FFF , 203px 1595px #FFF , 996px 986px #FFF , 1471px 1683px #FFF , 1048px 32px #FFF , 788px 1090px #FFF , 1969px 243px #FFF , 1195px 1527px #FFF , 1540px 813px #FFF , 300px 1223px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 348px 791px #FFF , 754px 1864px #FFF , 1144px 1321px #FFF , 1831px 293px #FFF , 90px 1653px #FFF , 557px 1947px #FFF , 584px 684px #FFF , 944px 1597px #FFF , 1440px 1036px #FFF , 1951px 794px #FFF , 473px 1420px #FFF , 1409px 1402px #FFF , 1778px 562px #FFF , 1730px 505px #FFF , 773px 1951px #FFF , 853px 230px #FFF , 1869px 1675px #FFF , 655px 584px #FFF , 79px 746px #FFF , 1174px 1048px #FFF , 1726px 1697px #FFF , 790px 361px #FFF , 1237px 1696px #FFF , 1771px 1340px #FFF , 933px 1293px #FFF , 1086px 1397px #FFF , 1477px 341px #FFF , 1161px 1741px #FFF , 720px 411px #FFF , 1825px 1708px #FFF , 663px 420px #FFF , 267px 371px #FFF , 474px 462px #FFF , 141px 311px #FFF , 210px 530px #FFF , 132px 254px #FFF , 477px 1433px #FFF , 483px 841px #FFF , 1033px 1401px #FFF , 1267px 1458px #FFF , 89px 1695px #FFF , 598px 265px #FFF , 221px 847px #FFF , 1848px 808px #FFF , 1557px 519px #FFF , 496px 226px #FFF , 863px 1111px #FFF , 1688px 397px #FFF , 216px 633px #FFF , 1885px 681px #FFF , 1693px 1488px #FFF , 368px 356px #FFF , 418px 307px #FFF , 984px 1478px #FFF , 1910px 675px #FFF , 1693px 1818px #FFF , 1670px 508px #FFF , 692px 1815px #FFF , 536px 1001px #FFF , 1257px 1598px #FFF , 454px 877px #FFF , 1534px 1153px #FFF , 1058px 1208px #FFF , 761px 648px #FFF , 225px 1903px #FFF , 334px 1764px #FFF , 1433px 1659px #FFF , 843px 353px #FFF , 168px 1337px #FFF , 1091px 1943px #FFF , 166px 1676px #FFF , 743px 146px #FFF , 532px 86px #FFF , 149px 1920px #FFF , 919px 946px #FFF , 120px 395px #FFF , 388px 1213px #FFF , 231px 673px #FFF , 98px 9px #FFF , 1927px 1804px #FFF , 336px 1734px #FFF , 1916px 231px #FFF , 1077px 1449px #FFF , 696px 1132px #FFF , 66px 1266px #FFF , 259px 152px #FFF , 1233px 267px #FFF , 36px 1137px #FFF , 1422px 693px #FFF , 314px 1336px #FFF , 441px 707px #FFF , 564px 377px #FFF , 275px 865px #FFF , 596px 180px #FFF , 408px 1950px #FFF , 1781px 1604px #FFF , 428px 415px #FFF , 125px 807px #FFF , 1097px 248px #FFF , 665px 1176px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 348px 791px #FFF , 754px 1864px #FFF , 1144px 1321px #FFF , 1831px 293px #FFF , 90px 1653px #FFF , 557px 1947px #FFF , 584px 684px #FFF , 944px 1597px #FFF , 1440px 1036px #FFF , 1951px 794px #FFF , 473px 1420px #FFF , 1409px 1402px #FFF , 1778px 562px #FFF , 1730px 505px #FFF , 773px 1951px #FFF , 853px 230px #FFF , 1869px 1675px #FFF , 655px 584px #FFF , 79px 746px #FFF , 1174px 1048px #FFF , 1726px 1697px #FFF , 790px 361px #FFF , 1237px 1696px #FFF , 1771px 1340px #FFF , 933px 1293px #FFF , 1086px 1397px #FFF , 1477px 341px #FFF , 1161px 1741px #FFF , 720px 411px #FFF , 1825px 1708px #FFF , 663px 420px #FFF , 267px 371px #FFF , 474px 462px #FFF , 141px 311px #FFF , 210px 530px #FFF , 132px 254px #FFF , 477px 1433px #FFF , 483px 841px #FFF , 1033px 1401px #FFF , 1267px 1458px #FFF , 89px 1695px #FFF , 598px 265px #FFF , 221px 847px #FFF , 1848px 808px #FFF , 1557px 519px #FFF , 496px 226px #FFF , 863px 1111px #FFF , 1688px 397px #FFF , 216px 633px #FFF , 1885px 681px #FFF , 1693px 1488px #FFF , 368px 356px #FFF , 418px 307px #FFF , 984px 1478px #FFF , 1910px 675px #FFF , 1693px 1818px #FFF , 1670px 508px #FFF , 692px 1815px #FFF , 536px 1001px #FFF , 1257px 1598px #FFF , 454px 877px #FFF , 1534px 1153px #FFF , 1058px 1208px #FFF , 761px 648px #FFF , 225px 1903px #FFF , 334px 1764px #FFF , 1433px 1659px #FFF , 843px 353px #FFF , 168px 1337px #FFF , 1091px 1943px #FFF , 166px 1676px #FFF , 743px 146px #FFF , 532px 86px #FFF , 149px 1920px #FFF , 919px 946px #FFF , 120px 395px #FFF , 388px 1213px #FFF , 231px 673px #FFF , 98px 9px #FFF , 1927px 1804px #FFF , 336px 1734px #FFF , 1916px 231px #FFF , 1077px 1449px #FFF , 696px 1132px #FFF , 66px 1266px #FFF , 259px 152px #FFF , 1233px 267px #FFF , 36px 1137px #FFF , 1422px 693px #FFF , 314px 1336px #FFF , 441px 707px #FFF , 564px 377px #FFF , 275px 865px #FFF , 596px 180px #FFF , 408px 1950px #FFF , 1781px 1604px #FFF , 428px 415px #FFF , 125px 807px #FFF , 1097px 248px #FFF , 665px 1176px #FFF;
}

.title span{
position: absolute;
color: #C3073F;
font-size: 9rem;
font-family: 'Unlock', cursive;
margin-left: 8rem;
top: 20rem;
width: 800px;
text-shadow: 10px 2px #6F2232;
}

p{
  position: absolute;
  color:  #8c8c8c;
  top: 35rem;
  width: 500px;
  margin-left: 45rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;

}

@media (max-width: 480px) {
  .title span {
    font-size: 4rem;
    top: 10rem;
    margin-left: 6.5rem;
  }

  p {
    margin-left: 4rem;
    width: 300px;
    top: 20rem;
  }

.login-password {
  left: -30rem;
}

.login-username{
  margin-top: -15rem;
}

#log-in {
  margin-top:0rem;
  left: -50rem;
}

#create-act {
  margin-top: 0rem;
  left: -108rem;
}

}

.login-username {
  display: flex;
  position: absolute;
  top: 46rem;
  color:  white;
  margin-left: 4rem;
  font-family: 'Pathway Gothic One', sans-serif;

}

.login-password {
  display: flex;
  position: absolute;
  top: 46rem;
  color:white;
  margin-left: 33rem;
  font-family: 'Pathway Gothic One', sans-serif;

}

#log-in {
position: absolute;
top: 60rem;
margin-left: 63rem;
padding: 10px 50px;
color: white;
background-color: rgba(60, 60, 61, 0.5);
border-radius: 30px;
border: dotted #6F2232;
color: white;
font-family: 'Quicksand', sans-serif;
font-size: 14px;

}

#create-act {
  position: absolute;
  margin-left: 120rem;
  margin-top: -4.5rem;
  background-color: rgba(195, 7, 85, 0.3);
  padding: 10px 25px;
  border-radius: 30px;
  border: dotted;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

#create-act a, #login-btn a{
  color: white;
}

label {
  padding-right: 1rem;
}

input {
  width: 200px;
  height: 35px;
  color: black;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

//signup page

#signup-title{
  position: absolute;
color: #C3073F;
font-size: 10rem;
font-family: 'Unlock', cursive;

top: 9rem;
width: 800px;
text-shadow: 10px 2px #6F2232;
}

.background {
  margin-top: -3rem;
}

.user-name {
  position: absolute;
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 22rem;
}

.signup-username {
  position: absolute;
  margin-top: 45rem;
display: flex;
flex-direction: column;
color: white;
margin-left: 22rem;
}

.signup-password {
  position: absolute;
  margin-top: 54rem;
  display: flex;
flex-direction: column;
color: white;
margin-left: 22rem;
}

.user-photo {
  position: absolute;
  margin-top: 34rem;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 22rem;
}

.input {
  width: 260px;
}

#login-btn {
  position: absolute;
  margin-top: 5rem;
  background-color: rgba(195, 7, 85, 0.3);
  padding: 10px 25px;
  border-radius: 30px;
  border: dotted;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 128rem;
}

.error-msg {
  position: absolute;
  color: white;
  top: 45rem;
  left: 28rem;
}
// Profile page
ul {
  list-style-type: none;
}

.links-in-nav {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 3rem;
}

li {
  padding-right: 3rem;
}

.nav-title {
  font-family: 'Unlock', cursive;
  color: #C3073F;
  text-shadow: 6px 2px #6F2232;
}

.container-fluid {
  background-color: rgba(39, 39, 46, 1);
}

.container-fluid a {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(78, 78, 80, 0.3);
  color: #C3073F;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.profile-photo {
  position: absolute;
  margin-top: 3rem;
  margin-left: 7rem;
}

.profile-photo img {
  height: 250px;
}

.profile-name {
  position: absolute;
  margin-top: 29rem;
  margin-left: 13rem;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.profile-info {
  position: absolute;
display: flex;
flex-direction: column;
background-color: rgba(85, 81, 81, 0.5);
height: 360px;
width: 400px;
margin-left: 5rem;
margin-top: 5rem;
border-radius: 20px;
}
@media (max-width: 480px) {
  .profile-photo {
    margin-left: 12rem;
  }

  .profile-info {
    margin-left: 2rem;
    width: 330px;
    height: 200px;
  }

  .profile-photo img {
    width: 80px;
    height: 80px;
  }

  .profile-name {
    margin-top: 11rem;
    margin-left: 10rem;
  }
}

//shows

.showList {
  position: absolute;
  top: 8rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 4rem;

}

.show-cover img{
  max-width: 200px;
  max-height: 200px;
}

.show-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.title-show {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

//show details page

.showdetails-img img {
  max-height: 450px;
  max-width: 450px;
  position: absolute;
  margin-top: 14rem;
  margin-left: 8rem;
  border-radius: 20px;
}

.showdetails-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 81, 81, 0.5);
  width: 400px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  margin-left: 50rem;
  top: 30rem;
  color: white;
  text-align: center;
}

.reviews h4{
  position: absolute;
  margin-top: 5rem;
  left: 105rem;
  font-size: 60px;
  color: #C3073F;
  font-family: 'Unlock', cursive;
  text-shadow: 6px 3px #6F2232;
}
.show-all-reviews {
  position: absolute;
  margin-top: 13rem;
  left: 103rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 81, 81, 0.5);
  width: 300px;
  padding-left: 5rem;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20px;
}

.leave-review {
  position: absolute;
  margin-top: 8rem;
  left: 18rem;
  font-size: 20px;
}

#delete-btn {
  background-color: black;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 7rem;
}

//add review page

.review-image {
  max-height: 500px;
  max-width: 500px;
  position: absolute;
  margin-top: 14rem;
  left: 20rem;
  border-radius: 20px;
}

.review-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 75rem;
  background-color: rgba(85, 81, 81, 0.5);
  padding: 20px 20px;
  border-radius: 20px;
  top: 18rem;
  color: #C3073F;
  font-family: 'Quicksand', sans-serif;
}

textarea {
  color: black;
}

#submit-review {
  width: 150px;
  margin-left: 14rem;
}

#reviewer {
  visibility: hidden;
}




//rating stars 
.rate-area {
    border-style: none;
    margin-right: 10rem;
  }


  .rate-area:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
  }
  .rate-area:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 400%;
    line-height: 1.2;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rate-area:not(:checked) > label:before { content: '★ '; }
  .rate-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
    font-size: 450% !important;

  }
  .rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }
  .rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
      color: gold;
      text-shadow: 1px 1px goldenrod;
    }
    .rate-area > label:active {
      position: relative;
      top: 2px;
      left: 2px;
    }

    //media queries for show details page
    @media (max-width: 480px) {
      .showdetails-img img {
        width: 130px;
        margin-top: 2rem;
        margin-left: 1rem;
      }

      html {
        overflow: visible;
        height: 270%;

      }

      #submit-review {
        margin-left: 7rem;
      }

      .showdetails-info {
        margin-left: 0rem;
        font-size: 12px;
        width: 370px;
        padding: 2px 2px;
        margin-top: 6rem;
      }

      .showdetails-title {
        font-size: 12px;
      }

      .reviews h4{
        margin-left: -98rem;
        margin-top: 50rem;
      }

      .show-all-reviews {
        margin-left: -98rem;
        margin-top: 60rem;
      }

      footer {
        visibility: hidden;
      }
    }

    //media queries for leave a review page

    @media (max-width: 480px) {
      .review-image {
        max-width: 130px;
        margin-left: -8rem;
        margin-top: 3rem;
      }

      .review-flex {
        margin-left: -73rem;
        width: 350px;
        margin-top: 25rem;
      }

      .rate-area {
        width: 400px;
        margin-left: -11rem;
      }

    }

    //media queries for shows page
    @media (max-width: 480px){
    .show-info {
      margin-top: 6rem;
      margin-right: 2rem;
      margin-bottom: -2rem;
    }

    .show-cover img {
      width: 100px;
      height: 130px;
    }

    .showList {
      margin-top: 2rem;
    }


  }

  .search {
    position: absolute;
    margin-left: 33rem;
    margin-top: -4.5rem;
    font-family: 'Quicksand', sans-serif;
  }
  .searchButton {
    position: absolute;  
    margin-top: -3.5rem;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
    

    



